<header class="header">
  <figure class="logo">
    <img src="mosten-logo.png" alt="Logo">
  </figure>

  <button class="menu-toggle" (click)="menuOpen = !menuOpen" aria-label="Abrir menu">
    <i class="fa-solid fa-bars menu-icon" [class.icon-active]="!menuOpen" [class.icon-hide]="menuOpen"></i>
    <i class="fa-solid fa-xmark menu-icon" [class.icon-active]="menuOpen" [class.icon-hide]="!menuOpen"></i>
  </button>

  <div class="spacer"></div>

  <ul [class.open]="menuOpen">
    <li>
      <a routerLink="/" (click)="menuOpen = false" [class.active]="currentRoute === '/'">
        Home
        <span class="menu-underline" *ngIf="currentRoute === '/'"></span>
      </a>
    </li>
    <li>
      <a routerLink="/criar" (click)="menuOpen = false" [class.active]="currentRoute.startsWith('/criar')">
        Adicionar filme
        <span class="menu-underline" *ngIf="currentRoute.startsWith('/criar')"></span>
      </a>
    </li>
  </ul>
</header>
