<footer class="footer">
  <div class="footer-content">
    <!-- Logo -->
    <div class="logo-section">
      <img src="mosten-logo.png" alt="mosten movies & series" class="logo" />
      <p class="project-text">
        Projeto desenvolvido em Angular<br> e ASP.NET (EntityFramework)
      </p>
    </div>

    <div class="contacts-section">
      <h3>Contatos</h3>
      <div class="icons">
        <a href="https://github.com/felipef210" target="_blank" aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/felipe-m-945a6a116" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=5513991723849" target="_blank" aria-label="WhatsApp">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="linha-roxa"></div>

  <div class="footer-bottom">
    <p>Felipe Miranda 2025 © Todos os direitos reservados</p>
  </div>
</footer>
